{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <article itemscope itemtype="http://schema.org/BlogPosting">
  <header>
    <h1 itemprop="headline">{{ .Title }}{{ if eq .Type "brewlog" }} ({{ .Date.Format "2 Jan, 2006" }}){{ end }}</h1>
    {{ if .Params.subtitle }}
    <h2>{{ .Params.subtitle }}</h2>
    {{ end }}
    {{ if eq .Type "brewlog" }}
    <p><strong>Targets:</strong></p>
    <p>{{ .Params.targets }}</p>
    <hr />
    {{ end }}
  </header>
  <div itemprop="articleBody">
    {{ .Content }}
  </div>
  <footer>
    <hr />
    {{ partial "post/byline.html" . }}
  </footer>
  </article>
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
{{ end }}
