{{ define "title" -}}
  {{ .Title }} | {{ .Site.Title }}
{{- end }}
{{ define "header" }}
  {{ partial "menu.html" . }}
{{ end }}
{{ define "main" }}
  <header>
    <h1>{{ .Title }}</h1>
    {{ if .Params.subtitle }}
    <h2>{{ .Params.subtitle }}</h2>
    {{ end }}
    {{ if eq .Type "brewlog" }}
    <p><strong>Targets:</strong></p>
    <p>{{ .Params.targets }}</p>
    <hr />
    {{ end }}
  </header>
  {{ .Content }}
{{ end }}
{{ define "footer" }}
  {{ partial "powered-by.html" . }}
{{ end }}
